/* Arrière-plan */
#bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url("../../../assets/image/backgroundVegaStudio.png") no-repeat center fixed;
    background-size: cover;
    z-index: -1;
}

/* Conteneur général */
.info {
    z-index: 1;
    margin-top: 5%; /* Ajustement pour centrage vertical */
    background-color: rgba(255, 255, 255, 0.9); /* Utilisation de rgba pour la transparence */
    width: 50%;
    margin-left: 25%; /* Ajustement pour centrage horizontal */
    padding: 2%; /* Ajout de marges internes */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Conteneur "non connecté" */
#notconnected {
    margin-top: 10%; /* Ajustement pour espacement entre les conteneurs */
    width: 40%;
    max-height: 80vh; /* Limite la hauteur pour éviter le débordement */
    overflow-y: auto; /* Activation du défilement vertical si nécessaire */
}

#notconnected h1 {
    color: red;
}

#notconnected p {
    color: black;
}

#notconnected button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 16px;
    margin-top: 5%; /* Ajustement pour l'espacement */
}

/* Conteneur "connecté" */
#connected {
    margin-top: 7%; /* Ajustement pour espacement entre les conteneurs */
    width: 40%;
    height: auto; /* Réglage de la hauteur automatique pour s'adapter au contenu */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage horizontal des éléments */
}

#connected .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#connected .col {
    flex: 1; /* Chaque colonne prendra la même largeur */
    text-align: center; /* Centrage horizontal du texte */
}

#connected div {
    width: 100%; /* Ajustement de la largeur */
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 5%;
}

#connected div p {
    margin-top: 2%;
    color: black;
}

#connected h1 {
    margin-top: 2%;
}

/* Masquer la barre de défilement WebKit */
#notconnected::-webkit-scrollbar,
#connected::-webkit-scrollbar {
    display: none;
}
