# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
IHM/SpinToWinAngular/dist
IHM/SpinToWinAngular/tmp
IHM/SpinToWinAngular/out-tsc
IHM/SpinToWinAngular/bazel-out

# Node
IHM/SpinToWinAngular/node_modules
IHM/SpinToWinAngular/npm-debug.log
IHM/SpinToWinAngular/yarn-error.log

# IDEs and editors
IHM/SpinToWinAngular/.idea/
IHM/SpinToWinAngular/.project
IHM/SpinToWinAngular/.classpath
IHM/SpinToWinAngular/.c9/
IHM/SpinToWinAngular/*.launch
IHM/SpinToWinAngular/.settings/
IHM/SpinToWinAngular/*.sublime-workspace

# Visual Studio Code
IHM/SpinToWinAngular/.vscode/*
IHM/SpinToWinAngular/.vscode/settings.json
IHM/SpinToWinAngular/.vscode/tasks.json
IHM/SpinToWinAngular/.vscode/launch.json
IHM/SpinToWinAngular/.vscode/extensions.json
IHM/SpinToWinAngular/.history/*

# Miscellaneous
IHM/SpinToWinAngular/.angular/cache
IHM/SpinToWinAngular/.sass-cache/
IHM/SpinToWinAngular/connect.lock
IHM/SpinToWinAngular/coverage
IHM/SpinToWinAngular/libpeerconnection.log
IHM/SpinToWinAngular/testem.log
IHM/SpinToWinAngular/typings

# System files
IHM/SpinToWinAngular/.DS_Store
IHM/SpinToWinAngular/Thumbs.db

ALGO/testClasse/bin
ALGO/.metadata
ALGO/spintowin/target/


### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store