<div id="bg">
    <div id="text">
        <h1 class="text-light text-xxl-center fw-bold">Bienvenue chez  <span class="yellow">VegaStudio</span></h1>
        <hr class="w-25 m-auto text-bg-light border-light bg-light">
        <p class="text-light text-lg-center w-50 m-auto">
            votre destination pour une expérience de jeu vidéo d'argent exceptionnelle. En tant que studio de développement de jeux innovant, nous combinons créativité, technologie de pointe et engagement envers le jeu responsable pour offrir des divertissements de qualité supérieure. 
    
    Plongez dans notre univers où l'excitation rencontre la responsabilité.
    Découvrez ce que signifie vraiment jouer avec <span class="yellow">VegaStudio</span>
        </p>
    </div>
</div>

