.body {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../../../assets/image/bck.png") no-repeat center center fixed;
    background-size: cover;
  }
  
  svg {
    background-image: url("../../../assets/image/roulette2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container-roulette {
    position: absolute;
    background-color: rgba(121, 84, 35, 0.719);
    border: #000000 2px solid;
    top: 10%;
    left: 2%;
    padding: 50px;
    border-radius: 8px;
  }
  
  g,
  path {
    fill: rgba(0, 0, 0, 0);
  }
  
  .container-roulette g,
  path {
    transform: rotate(-2deg);
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(calc(1080deg + var(--final-angle)));
    }
  }
  
  .ball-animation {
    transform: rotate(0deg);
    animation: spin 5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
  


  .resultat {
    
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(254, 178, 76, 0.7); /* Fond blanc */
    width: 50%; /* Taille de 50% de la largeur de l'écran */
    height: 50%; /* Taille de 50% de la hauteur de l'écran */
    position: absolute;
    top: 25%; /* Centrage vertical */
    left: 25%; /* Centrage horizontal */
    border-radius: 80px; /* Coins arrondis */
    text-align: center;
    z-index: 999; /* Assurez-vous que cette div apparaît au-dessus des autres éléments */
    padding: 20px; /* Ajoutez un peu d'espace intérieur */
  }
  
  
  