<!-- roulette.component.html -->
<div class="body">
  <div *ngIf="ballFalling == null" class="container-roulette">
    <svg width="600" height="600" viewBox="-100 -100 200 200">
      <g transform="rotate(-90)">
        <path *ngFor="let path of paths; let i = index"
              [attr.d]="path"
              [attr.fill]="'hsl(' + i * 10 + ', 100%, 50%)'"
              [attr.id]="tab[i]"></path>
        <circle #ball cx="3" cy="-70" r="3" fill="white"></circle>
      </g>
      <!-- Image avec animation de rotation -->
      <g transform="rotate(-90)">
        <g transform="translate(0 0)">
          <image *ngIf="PLAYERINFO.pedro" class="PEDROIMG" xlink:href="../../../assets/image/PEDRO.png" width="140" height="140" x="-70" y="-70">
            <!-- Animation de rotation de l'image -->
            <animateTransform attributeName="transform"
                               attributeType="XML"
                               type="rotate"
                               from="0 0 0"
                               to="360 0 0"
                               dur="20s"
                               repeatCount="indefinite"/>
          </image>
        </g>
      </g>
    </svg>
  </div>
  








  <div *ngIf="ballFalling !== null" class="resultat">
    
    <p *ngIf="isCreditInRed()" style="color: red ;">La balle est tombée sur un nombre rouge : {{ ballFalling }} <p>
    <p *ngIf="isCreditInBlack()" style="color: black ;">La balle est tombée sur un nombre noir : {{ ballFalling }} <p>
    <p *ngIf="isCreditInGreen()" style="color: green;">La balle est tombée sur un nombre vert : {{ ballFalling }} <p>
      <p>Gains : {{ getCreditDifference() }}</p>

    <div class="btn btn-warning roulette-img" [routerLink]="['/table']" style="cursor: pointer;">Jouer à nouveau ! </div>
  </div>
</div>
