<div id="bg">
	<div class="opacity">
		<div class="container">
			<div class="row">
				<div id="presentation" class="col-md-12">
					<h1>À propos de nous</h1> <!-- Description -->
					<hr class="w-25">
					<p> Vegastudio est une entreprise créée par une jeune équipe de développeurs durant un
						projet d'étude au sein d'une formation de BUT 1 informatique en alternance au sein de l'université Côte d'Azur.
					</p>
					<p>Notre objectif est de proposer un site de jeu d'argent en ligne avec comme premier projet le jeu de
						la roulette anglaise revisité.</p>
					<p>Notre site est en constante évolution et nous vous remercions de votre soutien.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"> <!-- Description du personnel-->
					<div class="team"> 
						<h1>Notre équipe</h1>
						<hr class="w-25">
						<div class="Valentin">
							<img src="assets/image/Valentin.jpg" alt="Valentin" />
							<h2>Valentin</h2>
							<p>Développeur mais pas humoriste</p>

							<!-- Se dévoile au survol-->
							<p class="quote">Je suis le développeur qui s'occupe <br>du bon déroulement de l'API, et qui <br>foire ses blagues</p> 
						</div>
						<div class="Lemine">
							<img src="assets/image/Lemine.png" alt="Lemine" />
							<h2>Lemine</h2>
							<p>Développeur Multi-tâche/Absent</p>

							<!-- Se dévoile au survol-->
							<p class="quote">Je suis le développeur qui participe <br>à la plupart des tâches du projet et<br> qui n'est plus en cours</p>
						</div>
						<div class="Elio">
							<img src="assets/image/Elio.png" alt="Elio" />
							<h2>Elio</h2>
							<p>Développeur/Joueur</p>

							<!-- Se dévoile au survol-->
							<p class="quote">Je suis le développeur qui connaît le<br> mieux le système de la roulette <br>ainsi que le système de casino</p>
						</div>
						<div class="Paul">
							<img src="assets/image/Paul.jpg" alt="Paul" />
							<h2>Paul</h2>
							<p>Développeur/Gendarme</p>

							<!-- Se dévoile au survol-->
							<p class="quote">Je suis le développeur qui design la <br>roulette et qui arrête des migrants</p>
						</div>
						<div class="Vincent">
							<img src="assets/image/Vincent.jpg" alt="Vincent" />
							<h2>Vincent</h2>
							<p>Développeur/Grimpeur</p>
							
							<!-- Se dévoile au survol-->
							<p class="quote">Je suis le développeur le plus drôle <br>ainsi que le plus modeste.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
