.opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("../../../assets/image/backgroundVegaStudio.png") no-repeat center fixed;
    background-size: cover;
    z-index: -1;
}

.container {
    margin: 200px auto 100px auto;
    padding: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: calc(100vh - 300px);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255, 1);
}

hr{
    border: 2px solid #fff;
	margin: auto;
	margin-bottom: 1%;
	background-color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

#presentation {
    text-align: center;
}

#presentation h1 {
    color: #ffffff;
    font-size: 50px;
    margin: 20px;
}

#presentation p {
    color: #ffffff;
    font-size: 20px;
    margin: 20px;
}


/* Team part */


.team {
    margin-top: 50px;
}

.team h1 {
    color: #ffffff;
    font-size: 50px;
    margin: 20px;
}

.team img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.team img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.team img:not(:hover) {
    transform: scale(1);
    transition: 1s;
}

.team div {
    display: inline-block;
    text-align: center;
    padding: 23px;
    z-index: 1;
}

.team div:hover h2 {
    color: #feb24c;
    transition: 0.5s;
}
.team div:not(:hover) h2 {
    color: #ffffff;
    transition: 1s;
}

.team div:hover p {
    color: #ffffff;
    transition: 0.5s;
    transform: scale(1.3);
}

.team div:not(:hover) p {
    color: #ffffff;
    transition: 1s;
    transform: scale(1);
}

.team div:hover img {
    border: 2px solid #feb24c;
    transition: 0.5s;
}

.team div:not(:hover) img {
    border: 2px solid white;
    transition: 1s;
}

.quote {
    opacity: 0;
    font-size: 0%;
}

.team div:hover .quote {
    opacity: 1;
    font-size: 20px;
    transition: 1s;
}

.team div:not(:hover) .quote {
    opacity: 0;
    font-size: 0%;
    transition: 1s;
}