
    <nav id="navbar" class=" p-xxl-5">
      <div>
        <a id="TitleNav" [routerLink]="['/Vegastudio']">
          <img src="assets/image/vegastudio.png" alt="LogoStudioVegas" class="logo">
        </a>
      </div>

      <div id="lienPage" class="mx-xxl-1">
            <a class="btn link mx-3 text-light" [routerLink]="['/Vegastudio']">Acceuil</a>
            <a class="btn link mx-3 text-light" [routerLink]="['/SpinToWin']">SpinToWin</a>
            <a class="btn link mx-3 text-light" [routerLink]="['/credit']">Credit</a>
      </div>

      <div class="account">
        <a [routerLink]="['/login']" class="btn mx-2 link text-light ">Connexion</a>
        <a [routerLink]="['/register']" class="btn mx-2 bg inscription">Inscription</a>
      </div>
    </nav>
