<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo ou nom de la marque -->
    <a class="navbar-brand" [routerLink]="['/roulette']">Navbar</a>
    <!-- Bouton pour le mode responsive sur les petits écrans -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Contenu de la barre de navigation -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Liens de navigation -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <!-- Lien normal -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Vegastudio']">Home</a>
        </li>
       
        <!-- Lien normal -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/SpinToWin']">SpinToWin</a>
        </li>


        <!-- Lien normal -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/credit']">Credit</a>
        </li>


      </ul>
      
    </div>
  </div>
</nav>
