/* Désactiver la sélection de texte pour tous les éléments pour éviter les anomalies de sélections*/
* {
    user-select: none;
}

/* Style du corps principal de la page */
.body {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url("../../../assets/image/bck.png") no-repeat center fixed;
    background-size: cover;
    z-index: -1;
}

/* Titres de la page*/
.title-table {
    position: absolute;
    font-size: 140%;
    top: 2%;
    left: 30%;
    color: black;
    font-weight: bold;
}

.title-select {
    top: -3%;
    position: absolute;
    font-size: 130%;
    left: 73%;
    color: black;
    font-weight: bold;
}

.title-select-mem {
    position: absolute;
    font-size: 105%;
    left: 76%;
    top: 45%;
    color: white;
}

/* Bouton pour cacher le contenu */
.hide-button {
    width: 64px;
    height: 97%;
    background-color: rgb(255, 23, 23);
    position: absolute;
    top: 1%;
    right: 1%;
}

.hide-button:active {
    transform: scale(0.8);
}

/* Styles pour les éléments affichant les crédits */
.p-credit {
    position: absolute;
    text-align: center;
    top: 5%;
    left: 18%;
    color: black;
    font-weight: bold;
    font-size: 130%;
}

.p-credit2 {
    position: absolute;
    top: 65%;
    left: 28%;
    color: black;
    font-weight: bold;
    font-size: 130%;
}

/* Message de statut */
.p-message {
    position: absolute;
    top: 13%;
    left: 1%;
    color: black;
    font-size: 110%;
}

/* Texte se trouvant dans la zone des numéro chauds (texte indiquant le numero du salon et le nbr de joueurs) */
.p-numérochaud {
    position: absolute;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 115%;
    top: 18%;
    left: 45%;
}

/* Composant de la table de jeu */
.table-component {
    position: absolute;
    background: url("../../../assets/image/texture tapis.jpg");
    border: #011b3a 2px solid;
    width: 1600px;
    height: 480px;
    bottom: 5px;
    left: 155px;
    transform: perspective(800px) rotateX(30deg);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Barre de progression */
.progress_bar {
    position: absolute;
    background: linear-gradient(to right, green, yellow, red);
    top: -6%;
    height: 6%;
    width: 100%;
    border-radius: 0px;
}

.progress {
    border-radius: 0;
    height: 100%;
    width: 0%;
    background-color: black;
    transition: width 21.5s linear; /* La ligne noire s'agrandit pour cacher le dégradé et prend 21.5s à cacher le dégradé après avoir attendu 1 seconde avant de commencer l'animation */
}

/* Conteneur de crédits */
.credit {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    border: black 2px solid;
    bottom: 447px;
    left: 408px;
    width: 150px;
    height: 50px;
}

/* Message de statut */
.message {
    position: absolute;
    background-image: url(../../../assets/image/gold.jpg);
    border: #011b3a 2px solid;
    bottom: 447px;
    left: 556px;
    width: 991px;
    height: 50px;
}

/* Indicateur de numéro chaud */
.numéro-chauds {
    position: absolute;
    background: url("../../../assets/image/texture tapis.jpg");
    border: #011b3a 2px solid;
    left: 0px;
    width: 100%;
    height: 5%;
    border-radius: 8px;
    overflow: hidden;
}

/* Composant de la roulette */
.roulette-component {
    position: absolute;
    background-color: rgba(254, 178, 76, 0.6);
    border: #011b3a 2px solid;
    top: 1px;
    left: 1px;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    padding: 20px;
}

.roulette-component:hover {
    background-color: rgba(254, 178, 76, 0.4);
}

/* Image de la roulette */
.roulette-img {
    border: 2px solid black;
    left: 78%;
    top: 5%;
    width: 300px;
    height: 300px;
    position: absolute;
    background-image: url("../../../assets/image/roulette2.png");
    background-size: cover;
}

.roulette-img p {
    position: absolute;
    top: 45%;
    left: 30%;
    color: black;
    font-weight: bold;
}

.roulette-img p:hover {
    color: white;
}

/* Table de jeu */
.table {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 3%;
    left: 5%;
    border-radius: 8px;
}

/* Style pour les cellules de la table */
td {
    font-weight: bold;
    cursor: crosshair;
    min-width: 80px; /* Largeur minimale */
    height: 70px; /* Hauteur minimale */
    border: 2px solid black;
}

.table td {
    position: relative; /* Pour permettre le positionnement des éléments enfants */
    overflow: hidden; /* Cacher le texte débordant */
    text-align: center; /* Centrer le texte */
    vertical-align: middle; /* Centrer le texte verticalement */
    border-radius: 5px;
    z-index: 1; /* S'assurer qu'il est en dessous du jeton */
}

/* Style pour les SVG de jetons */
.token-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le SVG dans la cellule */
    width: 40px; /* Taille fixe */
    height: 40px; /* Taille fixe */
}

/* Style pour les valeurs des jetons */
.token-value {
    position: absolute; /* S'assurer qu'il est au-dessus de l'arrière-plan mais en dessous du jeton */
    background-color: rgba(255, 255, 255, 0.7); /* Fond légèrement transparent */
    padding: 2px;
    font-size: 20px; /* Taille de la police */
    white-space: nowrap; /* Empêcher le retour à la ligne du texte */
    overflow: hidden; /* Cacher le texte débordant */
    text-overflow: ellipsis; /* Afficher des points de suspension (...) pour le texte débordant */
    top: 5px;
    left: 5px;
}

/* Conteneurs de sélection de jetons */
.select2 {
    position: absolute;
    width: 300px;
    height: 90px;
    left: 55%;
    top: 79%;
    text-align: center;
    overflow: hidden;
}

.select1 {
    position: absolute;
    width: 300px;
    height: 90px;
    left: 6%;
    top: 79%;
    text-align: center;
    overflow: hidden;
}

/* DIV CONTENANT LES BOUTONS D'OPTIONS */
.btn-option {
    position: absolute;
    width: 500px;
    height: 75px;
    left: 31%;
    top: 81%;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

/* Couleurs pour les cellules spécifiques */
.O {
    background-color: darkgreen;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.rouge {
    background-color: rgba(255, 0, 0, 0.7);
}

.noir {
    background-color: rgba(41, 41, 41, 0.747);
}

/* Styles pour les cellules arrondies */
.arrondi-haut-droit {
    min-width: 100px;
    border-top-right-radius: 8px;
    background-color: rgba(0,0,0,0);
}

.arrondi-bas-droit {
    min-width: 100px;
    border-bottom-right-radius: 8px;
    background-color: rgba(0,0,0,0);
}

.lg {
    background-color: rgba(0,0,0,0);
}

/* Style pour les jetons sélectionnés */
.token.selected {
    filter: drop-shadow(rgb(255, 195, 29) 0px 0px 12px);
}

/* Style pour les jetons */
.token {
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 10px;
    border: 2px solid transparent; /* Bordure par défaut */
}

.token:hover {
    margin-top: 2px;
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 8px);
}

.token:active {
    transform: scale(0.8);
}

/* Styles pour les jetons de casino */
#casino-chip {
    width: 60px;
    height: 60px;
}

.outer-circle {
    fill: black;
}

/* Styles pour les cercles intérieurs des jetons */
.inner-circle1 {
    fill: #fff53a;
}

.segments1 rect {
    fill: #fff53a;
}

.inner-circle2 {
    fill: #ffc933;
}

.segments2 rect {
    fill: #ffc933;
}

.inner-circle3 {
    fill: rgb(253, 42, 42);
}

.segments3 rect {
    fill: rgb(253, 42, 42);
}

.inner-circle4 {
    fill: rgb(156, 34, 255);
}

.segments4 rect {
    fill: rgb(156, 34, 255);
}

.inner-circle5 {
    fill: rgb(49, 145, 255);
}

.segments5 rect {
    fill: rgb(49, 145, 255);
}

.inner-circle6 {
    fill: rgb(39, 255, 104);
}

.segments6 rect {
    fill: rgb(39, 255, 104);
}

/* Styles pour les numéros des jetons */
.chip-number {
    fill: black;
    font-size: 35px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.chip-number2 {
    fill: black;
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Style général du corps */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Bouton bonus */
.btn-bonus {
    background-image: url("../../../assets/image/gold.jpg");
}

/* Bouton de retour */
.back-button {
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 4%;
    min-width: 140px;
    height: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
}

/* Bouton de rejouer */
.replay-button {
    background: rgb(73, 73, 73);
    background: linear-gradient(315deg, rgba(73, 73, 73, 1) 0%, rgba(179, 179, 179, 0.8435749299719888) 10%, rgba(73, 73, 73, 1) 20%, rgba(179, 179, 179, 0.8435749299719888) 30%, rgba(73, 73, 73, 1) 40%, rgba(179, 179, 179, 0.8435749299719888) 50%, rgba(73, 73, 73, 1) 60%, rgba(179, 179, 179, 0.8435749299719888) 70%, rgba(73, 73, 73, 1) 80%, rgba(179, 179, 179, 0.8435749299719888) 90%, rgba(73, 73, 73, 1) 100%);
    color: white;
    border: 2px solid black;
    border-radius: 4%;
    min-width: 140px;
    height: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
}

/* Fond du conteneur */
.fond {
    position: absolute;
    height: 425px;
    width: 100%;
    bottom: 0px;
}

/* Style des titres h2 */
h2 {
    font-size: 15px;
    color: black;
}

.back-button:hover {
    background-color: darkred;
}

.back-button:active {
    transform: scale(0.9);
}

/* Style pour les cellules vides */
.empty {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

/* Style pour les bulles de message */
.bubulle p {
    top: 29.5%;
    left: 31%;
    font-weight: bold;
    font-size: 150%;
    color: black;
    position: absolute;
}

.bubulle img {
    top: 20%;
    left: 25%;
    position: absolute;
    width: 400px;
    height: 200px;
}

/* Style des images des boutons */
.btn-im {
    position: inherit;
    left: 5%;
    top: 25px;
}

/* Style des titres h2 */
h2 {
    margin-left: 5px;
    margin-top: 5px;
}

/* Floutage pour les crédits */
.blurred {
    filter: blur(5px);
}

.p-credit {
    transition: filter 0.8s;
}

/* Conteneur des crédits */
.creditcontainer {
    top: 70%;
    left: 78%;
    width: 300px;
    height: 130px;
    position: absolute;
    border: 2px black solid;
    background-color: rgba(255, 192, 57, 0.3);
}

/* Style pour le bouton bonus */
.btn-bonus:hover {
    cursor: pointer;
}

.btn-bonus:active {
    border: inset;
}

/* Classes actives et inactives */
.active {
    color: darkgreen;
}

.inactive {
    color: darkred;
}

/* CSS NOTIFICATION de rechargement de crédit */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 999; /* Assurez-vous que cette div apparaît au-dessus des autres éléments */
}

.modal-content {
    background-color: #fefefe; /* Fond blanc */
    padding: 30px;
    border-radius: 20px; /* Coins arrondis */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
    max-width: 400px; /* Largeur maximale du modal */
    width: 90%; /* Largeur du modal */
    animation: fadeIn 0.3s ease-out; /* Animation d'apparition */
}

.modal-content h2 {
    margin-bottom: 20px; /* Espacement en bas du titre */
    color: #333; /* Couleur du texte du titre */
}

.modal-content .btn {
    padding: 10px 20px;
    font-size: 16px; /* Taille de la police */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis du bouton */
    transition: background-color 0.3s ease; /* Transition de couleur de fond */
}

.modal-content .btn:hover {
    background-color: #e69500; /* Changement de couleur au survol */
    cursor: pointer; /* Curseur pointeur */
}

/* CHAT CSS */
.tchat {
    position: fixed;
    top: 5%;
    right: 0;
    width: 35%;
    height: 40%;
    border: 2px solid black;
    overflow-y: scroll;
    padding: 10px;
    background-color: rgba(121, 84, 35, 0.719);
    color: black;
    display: flex;
    flex-direction: column; /* Affichage en colonne pour empiler les éléments */
    border-radius: 10px;
}

/* Personnalisation de la barre de défilement */
.tchat::-webkit-scrollbar {
    width: 2px;
}

.tchat::-webkit-scrollbar-track {
    background: transparent; /* Couleur de l'arrière-plan de la piste */
}

.tchat::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Couleur de la barre de défilement */
    border-radius: 10px; /* Optionnel : ajoute des coins arrondis */
}

.tchat-list {
    flex: 1; /* Permet à la liste des messages de prendre toute la hauteur disponible */
    max-height: calc(100% - 50px); /* Hauteur maximale moins la zone de saisie */
    overflow-y: auto;
}

/* Personnalisation de la barre de défilement dans la liste */
.tchat-list::-webkit-scrollbar {
    width: 5px;
}

.tchat-list::-webkit-scrollbar-track {
    background: transparent; /* Couleur de l'arrière-plan de la piste */
}

.tchat-list::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Couleur de la barre de défilement */
    border-radius: 10px; /* Optionnel : ajoute des coins arrondis */
}

.tchat-input {
    margin-top: 10px;
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
}

.tchat-input input[type="text"] {
    flex: 1; /* L'input prend autant d'espace que possible */
    width: 70%;
    padding: 8px;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    font-size: 14px;
}

.tchat-input button {
    width: 25%;
    padding: 8px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px; /* Espacement entre l'input et le bouton */
}

.tchat-input button:hover {
    background-color: #0056b3;
}

/* Style pour chaque message dans la liste */
.tchatmessage {
    margin-bottom: 10px; /* Espacement entre les messages */
    padding: 5px;
    background-color: rgba(255, 171, 62, 0.836);
    border: 1px solid #000000;
    border-radius: 4px;
}
