<div id="bg">
	<div id="item" class="mx-auto">
		<div>
			<h1>S'inscrire</h1>
		</div>
		<form action>
			<div class="multiinput">
				<div class="labelinput">
					<label for="">Nom</label>
					<input type="text">
				</div>
				<div class="labelinput">
					<label for="">Prenom</label>
					<input type="text">
				</div>
			</div>

			<div class="multiinput">
				<div class="labelinput">
					<label for="">Email</label>
					<input type="email">
				</div>
				<div class="labelinput">
					<label for="">Age</label>
					<input type="number">
				</div>
			</div>
			<label for="">Username</label>
			<input type="text">
			<label for="">Password</label>
			<input type="password">
			<p>Vous avez deja un compte ? <br><a href="">Connectez-vous</a></p>
			<input type="submit">
		</form>

	</div>

</div>