<div id="bg">
  <div class="opacity">
    <div id="item" class="mx-auto">
      <div>
        <h1>S'inscrire</h1>
      </div>
      <form (ngSubmit)="submitForm($event)"> <!-- Début du formulaire -->
        <div class="multiinput">
          <div class="labelinput">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" [(ngModel)]="Nom" required>
          </div>
          <div class="labelinput">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" [(ngModel)]="Prenom" required>
          </div>
        </div>
        <div class="multiinput">
          <div class="labelinput">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="Email" (ngModelChange)="checkEmailValidity()" required>
            <div *ngIf="Email && Email.length > 0 && isEmailTouched && isEmailIncluded" class="error-message">Cet email est déjà utilisé.</div>
          </div>
          <div class="labelinput">
            <label for="dateNaissance">Date de naissance</label>
            <input type="date" id="dateNaissance" name="dateNaissance" [(ngModel)]="Age" (ngModelChange)="checkAgeValidity()" required>
            <div *ngIf="!isAgeValid" class="error-message" style="color: rgb(199, 9, 9);" >Vous devez avoir au moins 18 ans.</div>
          </div>
        </div>
        <div class="multiinput">
          <div class="labelinput">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" [(ngModel)]="Username" (ngModelChange)="checkPseudoValidity()" required>
            <div *ngIf="!isPseudoIncluded" class="error-message" style="color: rgb(199, 9, 9);">Ce nom d'utilisateur est déjà utilisé.</div>
          </div>
          <div class="labelinput">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" [(ngModel)]="Password" required>
          </div>
        </div>
        <p>Vous avez déjà un compte ? <br><a [routerLink]="['/login']">Connectez-vous</a></p> 
        <button class="btn btn-warning" [disabled]="!isFormValid()" type="submit">Envoyer</button>
      </form> <!-- Fin du formulaire -->
    </div>
  </div>
  </div>
  