<div class="bg">
    <div class="element">
        <div class="componentjeu">
            <div>
                <img src="../../../assets/image/roulettelogo.png" alt="">
                <h1>Spin To Win</h1>
                <hr>
                <p>Description de Spin to Win </p>
                <button *ngIf="!PLAYERINFO.playerInfo" [routerLink]="['/login']">Se connectez</button>
                <button  *ngIf="PLAYERINFO.playerInfo" [routerLink]="['/table']">Jouer</button>
            </div>
            <div>
                <img src="../../../assets/image/jeumystere.png" alt="">
                <h1>Jeu Mystere</h1>
                <hr>
                <p>Jeu Mystere a venir</p>
                <button class="pasdispo">Jouer</button>
            </div>
            <!-- <div>
                <img src="../../../assets/image/jeumystere.png" alt="">
                <h1>Jeu Mystere</h1>
                <hr>
                <p>Jeu Mystere a venir</p>
                <button class="pasdispo">Jouer</button>
            </div>
            <div>
                <img src="../../../assets/image/jeumystere.png" alt="">
                <h1>Jeu Mystere</h1>
                <hr>
                <p>Jeu Mystere a venir</p>
                <button class="pasdispo">Jouer</button>
            </div> -->
        </div>
    </div>
</div>