<div class="bg">
    <div class="opacity">
    <div class="element">
        <div class="componentjeu">
            <div> <!-- Jeu de la roulette -->
                <img src="../../../assets/image/roulettelogo.png" alt="">
                <h1>SpinToWin</h1>
                <hr>
                <p style="text-align: center;">Un jeu de roulette complet revisité pour un meilleur divertissement par VegaStudio.
                    Découvrez une case bonus avec de nouvelles probabilités, des easter eggs à trouver et un chat pour communiquer avec tous les joueurs de la table. Faites vos jeux !</p>
                <button *ngIf="!PLAYERINFO.playerInfo" [routerLink]="['/login']">Se connecter</button>
                <button  *ngIf="PLAYERINFO.playerInfo" [routerLink]="['/table']">Jouer</button>
            </div>
            <div> <!-- Jeu en développement dit Mystère -->
                <img src="../../../assets/image/jeumystere.png" alt="">
                <h1>Jeu Mystère</h1>
                <hr>
                <p style="text-align: center;">
                    Un peu de patience, nous développons pour votre divertissement d'autres jeux de casino remaniés pour plus d'originalité. Nous vous informerons dès qu'ils seront disponibles en ligne.</p>
            </div>
        </div>
    </div>
</div>
</div>