<div class="bg">
    <div class="element">
        <div class="componentjeu">
            <div>
                <img src="../../../assets/image/roulettelogo.png" alt="">
                <h1>SpinToWin</h1>
                <hr>
                <p>Description de SpinToWin </p>
                <button *ngIf="!PLAYERINFO.playerInfo" [routerLink]="['/login']">Se connecter</button>
                <button  *ngIf="PLAYERINFO.playerInfo" [routerLink]="['/table']">Jouer</button>
            </div>
            <div>
                <img src="../../../assets/image/jeumystere.png" alt="">
                <h1>Jeu Mystère</h1>
                <hr>
                <p>Jeu à venir</p>
                <button class="pasdispo">Jouer</button>
            </div>
            <div>
                <img src="../../../assets/image/jeumystere.png" alt="">
                <h1>Jeu Mystère</h1>
                <hr>
                <p>Jeu à venir</p>
                <button class="pasdispo">Jouer</button>
            </div>
            <div>
                <img src="../../../assets/image/jeumystere.png" alt="">
                <h1>Jeu Mystère</h1>
                <hr>
                <p>Jeu à venir</p>
                <button class="pasdispo">Jouer</button>
            </div>
        </div>
    </div>
</div>